.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25px;
}

.container{
  margin-left: 10px;
  padding-left:105px;

}

.btn{
    padding:10px;
    display: flex;
    justify-items: center;
    justify-content: center;
    
    
}